
<div id="main-body">

    <!-- left part -->
    <div class="left-part">
        <!-- section 1 -->
        <div class="">
            <div class="rows"> <i class="fa-solid fa-house"></i> <a href="/admin"> Home </a> </div>
            <div class="rows"> <a href="/user/super-admin" style="color: RED; opacity: 1"> <i class="fa-brands fa-brave"></i> SUPER-ADMIN </a></div>
            <div class="rows"> <a href="/user/admin" style="color: green; opacity: 1"> <i class="fa-solid fa-user-tie"></i> ADMIN </a></div>
            <div class="rows"> <a href="/user/allUsers"> <i class="fa-solid fa-user"></i> Users </a></div>
            <div class="rows" id="product"> <a href="/product/allProducts"> <i class="fa-solid fa-tag"></i>  Products </span> </a> </div>
            <div class="rows" id="navCircle"> <i class="fa-regular fa-circle"></i> <a href="/navCircle/all"> NavCircles </a> </div>

              <!-- orders dropdown start -->
              <div class="dropdown rows" id="order">
                <i class="fa-solid fa-cart-shopping"></i>
                <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px; margin-left: -12px">  Orders </a>
                <ul class="dropdown-menu" style="width: 80%">
                  <li><a class="dropdown-item" href="/order/viewAll"> all Orders </a></li>
                  <li><a class="dropdown-item" href="/order/Paid"> Paid Orders </a></li>
                  <li><a class="dropdown-item" href="/order/created"> UnPaid orders </a></li>
                </ul>
              </div>
              <!--  orders dropdown end -->
            


            <div class="rows"> <a href="/pages/all-Discount-Coupans"> <i class="fa-solid fa-percent"></i>  Discount Coupans </a> </div>
            <div class="rows"> <i class="fa-solid fa-list"></i> <a href=""> Category </a> </div>
        </div>
    </div>
    