<!-- heading -->
 <%- include("./heading.ejs") %>

<!-- left panel -->
<%- include("./leftPanel.ejs") %>

<style>

.cards {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
  max-height: 15rem;
  max-width: 15rem;
  min-height: 15rem;
  min-width: 15rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 2.5rem 5rem 0;
}

</style>

<div class="window">
    
    <div class="cards">

        <div class="card"  id="myChart" style="width:30%; max-width:600px; height:500px;">

        </div>
        
        <div class="card" id="myChart2" style="width:30%; max-width:600px; height:500px;"></div>
        
        <div class="card">
            Customer
        </div>

        <div class="card">
            Customer
        </div>
        
        <div class="card">
            Customer
        </div>

    </div>

</div>



<!-- footer  -->
<%- include("./footer.ejs") %>



<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart() {
    const data = google.visualization.arrayToDataTable([
      ['Customer', 'Mhl'],
      ['Sale',54.8],
      ['orders',48.6],
      ['Admin',44.4],
      ['Sales',23.9],
      ['Marketing',14.5]
    ]);
    
    const options = {
      title:'World Wide Wine Production',
      is3D:true
    };
    
    const chart = new google.visualization.PieChart(document.getElementById('myChart'));
      chart.draw(data, options);
    }



    //chart 2
    google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart2);

function drawChart2() {
const data = google.visualization.arrayToDataTable([
  ['States', 'Mhl'],
  ['Maharashtra',55],
  ['Gujarat',49],
  ['UP',44],
  ['Karnataka',24],
  ['Bihar',15]
]);

const options = {
  title:'World Wide Wine Production'
};

const chart = new google.visualization.BarChart(document.getElementById('myChart2'));
  chart.draw(data, options);
}


</script>