<!DOCTYPE >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.shopify.com/s/files/1/0683/0047/2549/files/Logo1_square.png?v=1710135146">
    <title>Nutrie Foods</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/show.css">


    <style>
      .dropdown-item:hover {
        background-color: #CAAEFF;
      }

      ul {
        align-items: center;
      }

    </style>


<body>

    <!-- scrolling nav start -->
       <div id="scrolling-nav">
        <marquee> Welcome to the World of Nutrition and Taste  &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp;   Get Exclusive Additional 10% Off on all Products Use Code "NEWWEB10"   &nbsp; &nbsp; &nbsp;  |   &nbsp; &nbsp; &nbsp; Free Shipping over Rs. 499 only </marquee>
       </div>
    <!-- scrolling nav end -->

 
      <!-- nav bar starts -->
      <nav id="navigation-bar">

        <!-- nav left part -->
        <div class="nav-left">

          <div id="side-menu-btns">
            <label class="ham-menu" for="menu-drawer"  onclick='changeUi()'> <i class="fa-solid fa-bars"></i> </label>
            <label class="cross-sign" for="menu-drawer" onclick='changeUi()'> <i class="fa-solid fa-xmark"></i> </label>
          </div>

          <div class="nav-logo"> 

              <% if(typeof currUser != 'undefined' && (currUser.role != 'ADMIN' || currUser.role != 'SUPER-ADMIN' )) { %> 
                <a href="/admin"> <img src="https://cdn.shopify.com/s/files/1/0683/0047/2549/files/Logo1_48e2f5af-ef12-4c59-a2fb-f6717861ba4e.png?v=1715498191" alt="logo"> </a>

              <% } else { %>
                <a href="/pages"> <img src="https://cdn.shopify.com/s/files/1/0683/0047/2549/files/Logo1_48e2f5af-ef12-4c59-a2fb-f6717861ba4e.png?v=1715498191" alt="logo"> </a>
              <% } %>
         
          </div>

          <div class="line"> <a href="/pages"> Home </a> </div>
          <div class="line"> <a href="/pages/about-us"> About Us </a> </div>

          <div class="dropdown">  
              <div data-bs-toggle="dropdown" aria-expanded="false" class="pointer line">
                 Shop <i class="fa-solid fa-angle-down"></i>
              </div>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/product/view-all/All">All Collections</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Best_Seller">Best Seller</a></li>
                <li><a class="dropdown-item" href="/product/view-all/New_Launches">New Launches</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Fruity_Delight_Bites">Fruity Delight Bites</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Nuts_Mix_Marvels">Nuts & Mix Marvel</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Deliciously_Dried_Fruits">Deliciously Dried Fruit</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Chocolate_Nuts_Bliss">Chocolate Nuts & Bliss</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Wholsome_Millet_Munch">Wholesome Millet Munch</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Raw_Sugar">Pure Sweetness of Raw Sugar </a></li>
                <li><a class="dropdown-item" href="/product/view-all/Pancakes">Pancakes - Whole Grain</a></li>
                <li><a class="dropdown-item" href="/product/view-all/Nutriefit_Meals">Nutrifit Meals </a></li>
                <li><a class="dropdown-item" href="/product/view-all/Granola_Galore">Granola Galore - Artisan Bliss </a></li>
              </ul>
          </div>


          <div class="line"> <a href="/pages/corporate-gifting"> Corporate Gifting </a> </div>
          <div class="line"> <a href="/pages/contact"> Contact </a> </div>
        </div>
        <!-- nav left end -->


        <div class="nav-right">
          <i id="index-search" onclick="openSearchBox()" class="fa-solid fa-magnifying-glass pointer"></i>

          <% if(typeof currUser != 'undefined') { %>
            <a href="/user/logout"> <i class="fa-regular fa-user pointer"></i> </a>
          <% } else { %>
            <a href="/user/login"> <i class="fa-regular fa-user pointer"></i> </a>
          <% } %>

         
        <div> <a href="/add-to-cart"> <i class="fa-solid fa-cart-shopping pointer"> </i> </a>  </div> <span class="cart-item-number">0</span>
        </div>


      </nav>

      <!-- check box -->
      <input type="checkbox" id="menu-drawer" style="display: none;">




      <!-- menu drawer container -->
      <div class="menu-drawer">
        <br>
         <div class="upper-part">
          <a href="/pages"> <div class="drawer-row">  Home  </div> </a>
          <a href="/pages/about-us"> <div class="drawer-row">  About Us </div> </a>
          <a href=""> <div class="drawer-row">  Shop </div> </a>
          <a href=""> <div class="drawer-row"> Corportae Gifting </div> </a>
          <a href=""> <div class="drawer-row">  Contact  </div> </a>
         </div>

         <div class="lower-part">

         </div>
      </div>





      <!-- div to show searched products -->
      <div id="searchedProducts">
      </div>



      
   <script>

    // search result in for search box
    let displaySearchedProducts = () => {
        let cont = document.getElementById('searchedProducts');
        let inputSearch = document.getElementById('input-search');
        let input = inputSearch.value;
        cont.innerHTML = "";

        <% if(typeof cards != 'undefined') { %>
        if(input.trim().length != 0) {

            <%   for(let card in cards) {  %>
              
                if('<%- JSON.stringify(cards[card].title) %>'.trim().toUpperCase().includes(input.trim().toUpperCase()) ) { 
                    cont.innerHTML += "<a href='product/show/<%=cards[card]._id%>'> <div class='searched-row'> <div> <img class='small-img' src='<%= cards[card].url %>'> </img>  </div> <div class='searched-title'> <%= cards[card].title %> </div> </div> </a>";
                }

            <% }  %>
        } 
        <% } %>

   }




  // code for menu drawer
  function changeUi() {
     let hamburger = document.querySelector('.nav-left .ham-menu');
     let crossSign = document.querySelector('.nav-left .cross-sign');

     if(hamburger.style.display === "none") {
        hamburger.style.display = 'block';
        crossSign.style.display = 'none';
     } else {
       hamburger.style.display = 'none';
       crossSign.style.display = "block";
     }
  }



  // update the count of cart
  let cart_item_cnt = document.querySelector('.cart-item-number');
  
  window.addEventListener('load', async (event) => {
    let res = await axios. get('/add-to-cart/getCartItems');
    let count = res.data.count;

    if(cart_item_cnt) {
      cart_item_cnt.innerHTML = `${count}`;
    }
  });

 
</script>
