<!-- including header  -->
<%- include("../navbar.ejs") %>  

<style>
    .container {
        /* border: 2px solid black; */
        height: 80vh;
        width: 35vw;
        margin-top: 3rem;
        text-align: center;
        padding: 25px;
    }

    .radius {
        border-radius: 25px;
        height: 50px;
        border: 1.5px solid black;
    }

    .btn-radius {
        border: 1px solid black;
        width: 10vw;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #5a246e;
        color: white;
        height: 40px;
    }
</style>



<div class="container">
    <h2> Change Password </h2> 
     <p>  </p>
    <br> <br>
    

    <form method="POST" action="/user/change-password" class="row g-3 needs-validation" novalidate>
        <input type="text" class="form-control radius" id="validationCustom01" name="oldPassword" placeholder="old Password">
        <input type="text" class="form-control radius" id="validationCustom01" name="newPassword" placeholder="new Password">

        <br> <br> <br> 
        <button class="btn-radius"> Change </button>
    </form>
</div>




<!-- including footer  -->
<%- include("../footer.ejs") %>