<!-- including header  -->
<%- include("../navbar.ejs") %>  

<style>
    .container {
        /* border: 2px solid black; */
        height: 80vh;
        width: 35vw;
        margin-top: 3rem;
        text-align: center;
        padding: 25px;
    }

    .radius {
        border-radius: 25px;
        height: 50px;
        border: 1.5px solid black;
    }

    .btn-radius {
        border: 1px solid black;
        width: 10vw;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #5a246e;
        color: white;
        height: 40px;
    }
</style>



<h2> Forogot password page </h2>

<div class="container">
    <h2> Reset your password </h2> 
     <p> We will send you an email to reset your password </p>
    <br> <br>
    

    <form method="POST" action="" class="row g-3 needs-validation" novalidate>
        <input type="text" class="form-control radius" id="validationCustom01" name="email" placeholder="Email">

        <br> <br> <br> 
        <button class="btn-radius"> Submit </button>
        <a style="color: black" href="/user/login"> Cancel </a>
    </form>
</div>




<!-- including footer  -->
<%- include("../footer.ejs") %>