/* styling for nav circles start */
.nav_circles {
    height: 180px;
    display: flex;
    align-items: center;
    overflow: auto;
}

.nav_circles::-webkit-scrollbar {
   display: none;
}

.circle_outer {
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
 
    margin: 0 20px 0 20px;
}


.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px auto 0 auto;
}

.circle_img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


.circle_name {
    text-align: center;
}

/* styling for nav circles end */



/* home image sec start */

.home_image {
   height: 400px;
}

/* home image sec ends  */



/* home card sec start */
.home_products {
    min-height: 450px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
    margin-top: 25px;
}

.card {
    height: 480px;
    min-width: 250px;
    max-width: 250px;
    margin: 0 20px 0 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 0.5px solid transparent;
}

.cardLink a {
    text-decoration: none;
}

.card_img {
    min-height: 300px;
    max-height: 300px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.card_img img {
    height: 95%;
    width: 95%;
}

.card_info {
    padding: 10px;
}

.space {
    height: 400px;
}

/* home card sec ends */


/* add-to-cart-btn */
.add-to-cart-button {
    border: 2px solid black;
    margin-left: 30px;
    border: 1.5px solid purple;
    border-radius: 25px;
    height: 50px;
    width: 225px;
    background-color: white;
}

.add-to-cart-button:hover {
    border: 3px solid purple;
}

.add-to-cart-button:active {
   background-color: rgb(230, 151, 230);
}


.home_image img {
    height: 100%;
    width: 100%;
}






  