* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #5a246e;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    color: #5a246e; 
}

    
.navbar {
    background-color: #CAAEFF !important;
    height: 60px;
    z-index: 100;
    position: sticky;
    top: 0;
}  




/* .navbar-collapse {
    color: #5a246e !important; 
    background-color: #CAAEFF !important;
} */

.nav_options {
    color:  #5a246e;
    font-weight: 400;
    font-size: 1.3rem;
}


li a {
    color: white !important;
}

.dropdown-menu {
    background-color:  #5a246e !important;
}

.addProduct {
    width: 75%;
    /* border: 2px solid black; */
    margin: 0 auto;
}

.page_heading {
    text-align: center;
    margin: 25px 0;
}


.submit-btn {
    margin-bottom: 50px;
}


/* footer styling  */

.footer {
    height: 200px;
    background: #CAAEFF;  
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* view all products */
.view-all-products {
    padding-top: 25px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.view-all-products .cardLink {
    margin-left: 15px;
    margin-right: 15px;
}



/* STYLING FOR CART */

.add-to-cart-cont {
  min-height: 500px;
  width: 80%;
  /* border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
}

.add-to-cart-card {
    height: 200px;
    width: 800px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
}

.add-to-cart-img {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-img div img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.add-to-cart-info {
   /* border: 2px solid black; */
   width: 75%;
   padding: 25px;
}


/* add-to-cart-buttons */

.add-to-cart-btns {
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    height: 40px;
    width: 120px;
}

.add-to-cart-info-inner {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.add-to-cart-info-inner .fa-trash-can {
    margin-left: 25px;
}

.add-to-cart-btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.fa-minus, .fa-plus {
    cursor: pointer;
}

.btns-total-amt {
    margin-left: 300px;
}

.add-to-cart-grandTotal {
    margin-left: 60%;
    margin-top: 25px;
}



/* check-out button */

.check-out-btn {
   display: flex;
   justify-content: center;
}

.check-out-btn button {
  height: 60px;
  width: 22rem;
  background-color: #5a246e;
  color: white;
  border-radius: 35px;
  border: none;
  font-weight: 500;
}





